# Для приложения
APP_PORT=8001

# Настройки базы данных
ENGINE=django.db.backends.postgresql  # или django.db.backends.sqlite3
POSTGRES_DB=task_management_db_pg
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=task_management_db_pg
POSTGRES_PORT=5432

REDIS_HOST=redis